.paper {
  padding: 25px;
  margin-bottom: 25px;
}

.containerForm {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: flex-start;
}

.container {
  display: flex;
  gap: 20px;
}

.error {
  color: red;
}
